In [4]:
import pandas as pd

df_network = pd.read_csv('musae_git_edges.csv')

df_category = pd.read_csv('musae_git_target.csv')

In [5]:
df_network.head()

   id_1   id_2
0     0  23977
1     1  34526
2     1   2370
3     1  14683
4     1  29982

In [6]:
df_category.head()

   id          name  ml_target
0   0        Eiryyy          0
1   1    shawflying          0
2   2   JpMCarrilho          1
3   3     SuhwanCha          0
4   4  sunilangadi2          1

In [22]:
df_new = pd.merge(df_network, df_category, how='left', left_on = 'id_1', right_on = 'id')
df_new = pd.merge(df_new, df_category, how='left', left_on = 'id_2', right_on = 'id',\
                  suffixes = ('','_2'))
df_new = df_new.drop('id', axis=1)
df_new.head()
df_new.to_csv('combined_github_data.csv')