In [1]:
import pandas as pd

df = pd.read_csv('combined_github_data.csv')

df.head()

   Unnamed: 0  id_1   id_2        name  ml_target       name_2  ml_target_2
0           0     0  23977      Eiryyy          0     airtoxin            0
1           1     1  34526  shawflying          0      ghosind            0
2           2     1   2370  shawflying          0      jasondu            0
3           3     1  14683  shawflying          0  chaoslawful            0
4           4     1  29982  shawflying          0   dead-horse            0

In [2]:
df_different = df[df['ml_target']!=df['ml_target_2']]
df_different.head()

,Unnamed: 0,id_1,id_2,name,ml_target,name_2,ml_target_2
9,9,6067,19720,danalex97,1,benjaminaaron,0
11,11,3,4950,SuhwanCha,0,YuHyun7,1
12,12,3,18029,SuhwanCha,0,graykode,1
15,15,3,5916,SuhwanCha,0,IJEMIN,1
16,16,4,2865,sunilangadi2,1,mshahriarinia,0

In [3]:
ml_follows_wd = df_different[df_different['ml_target']==1]
wd_follows_ml = df_different[df_different['ml_target']==0]
print('Number of ML --> WD follows:',len(ml_follows_wd))
print('Number of WD --> ML follows:',len(wd_follows_ml))

Number of ML --> WD follows: 21679
Number of WD --> ML follows: 23017

In [22]:
print('The proportion of MLs following WDs is')
print(sum(df_different['ml_target'])/len(df_different['ml_target']))

print('The Bayesian expected proportion would be:')
print(prob_wd)

The proportion of MLs following WDs is
0.48503221764811166

In [18]:
df = pd.read_csv('Github_degree_betweenness_closeness.csv')

df['ml_target'].value_counts()
df['Degree_betweenness_closeness'] = 1/3*(df['Degree'] + df['betweenness'] + df['closeness'])
df_homophily = pd.read_csv('combined_github_data.csv')
df_homophily.head()
df_accounts = pd.read_csv('musae_git_target.csv')
len(df_accounts)
prob_ml = sum(df_accounts['ml_target'])/len(df_accounts)
prob_wd = 1-prob_ml

In [20]:
print(prob_ml)
print(prob_wd)

0.2583289124668435
0.7416710875331565